@import 'Main.styl'

.layout
    min-height 100vh
    background primary-color

.layout-container
    padding 0 10em

    +desktop()
        padding 0 6em

    +tablet()
        padding 0 2em

    +mobile()
        padding 0 1em
